build/
dist/
diagnostics/
*.dot
*.log
*.pyc
*.db
.DS_Store
src/scrall.egg-info
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/workspace.xml
